.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.container-for-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-for-recipes::before {
  content: "";
  display: block;
  width: 300px;
  margin: 30px;
  order: 1;
}

.container-for-recipes::after {
  content: "";
  display: block;
  width: 300px;
  margin: 30px;
}

.hidden {
  display: none;
}
