.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.recipes {
  justify-content: center;
}

.image-recipe-wrapper > .column-full {
  height: 200px;
}
