/* --------- home view -------- */

.home-img-wrapper {
  position: relative;
}

.img-home {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 100% 0%;
}

.text-box-wrapper {
  position: absolute;
  right: 80px;
  bottom: 50px;
  width: 380px;
  height: 200px;
  background-color: white;
}

.text-sharing {
  color: #e29696;
  font-family: "Abril Fatface", sans-serif;
  font-size: 40px;
  margin: 15px 40px 10px;
}

.see-recipes-wrapper {
  background-color: #fedede;
  width: 160px;
  height: 40px;
  margin-left: 40px;
  position: relative;
}

.text-see-recipes {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  position: absolute;
  top: 4px;
  left: 16px;
  margin: 0;
}

/* ------- all recipes view ------- */

li {
  list-style: none;
}

.text-all-recipes {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 30px;
  margin: 20px 50px;
}

.recipe-wrapper {
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  margin: 30px;
}

.recipe-image-wrapper {
  height: 200px;
}

.recipe-wrapper img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.recipe-text-wrapper {
  height: calc(100px / 3);
  margin: 0 25px;
}

.recipe-name {
  font-family: "Abril Fatface", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #c5c0c0;
  margin-top: 8px;
  padding-bottom: 2px;
}

.recipe-time {
  border-bottom: 1px solid #c5c0c0;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 11px;
  margin-left: 8px;
  padding-bottom: 4px;
}

.timer-icon-wrapper {
  position: relative;
}

.fa-clock {
  position: absolute;
  left: 26px;
  top: 19px;
}

.recipe-calories {
  border-bottom: 1px solid #c5c0c0;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 11px;
  padding-bottom: 4px;
}

.recipe-ingredients {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 6px;
  padding-bottom: 4px;
}

.recipe-cousine {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 6px;
}

/* ----- media query -----  */

/* mobile screen */
@media screen and (max-width: 420px) {
  .img-home {
    width: 375px;
    height: 430px;
    object-fit: cover;
    object-position: 60% 40%;
  }

  .text-box-wrapper {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 270px;
    height: 150px;
    background-color: white;
  }

  .text-sharing {
    font-size: 28px;
    margin: 15px 30px 10px;
  }

  .see-recipes-wrapper {
    width: 160px;
    height: 35px;
    margin-left: 30px;
    position: relative;
  }

  .text-see-recipes {
    font-size: 20px;
    position: absolute;
    top: 3px;
    left: 16px;
    margin: 0;
  }

  /* ----- mobile all recipes view ----- */

  .text-all-recipes {
    font-size: 25px;
    margin: 15px 35px;
  }

  .recipe-wrapper {
    width: 135px;
    height: 135px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
    margin: 14px;
  }

  .recipe-image-wrapper {
    height: 90px;
  }

  .recipe-wrapper img {
    width: 135px;
    height: 90px;
    object-fit: cover;
  }

  .recipe-text-wrapper {
    height: calc(45px / 3);
    margin: 0 16px;
  }

  .recipe-name {
    font-family: "Abril Fatface", sans-serif;
    font-size: 10px;
    border-bottom: 1px solid #c5c0c0;
    margin-top: 3px;
    padding-bottom: 1px;
  }

  .recipe-time {
    border-bottom: 1px solid #c5c0c0;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
    margin-left: 0;
    padding-bottom: 1px;
  }

  i.fa-clock {
    display: none;
  }

  .recipe-calories {
    border-bottom: 1px solid #c5c0c0;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 1px;
  }

  .recipe-ingredients {
    font-family: "Abhaya Libre", sans-serif;
    font-size: 8px;
    text-align: center;
    margin-top: 2px;
    padding-bottom: 4px;
  }

  .recipe-cousine {
    font-family: "Abhaya Libre", sans-serif;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
  }
}
