/* --------- header -------- */
.navber {
  height: 86px;
  border-bottom: solid 0.5px black;
  margin: 0 25px;
  display: flex;
  justify-content: right;
  align-items: end;
  position: relative;
}

.navber-listitem {
  float: left;
}

.nav-ajax-project {
  text-decoration: none;
  color: black;
  font-family: "Abril Fatface", sans-serif;
  font-size: 35px;
  position: absolute;
  left: 25px;
  top: 18px;
}

.navber-list {
  margin-bottom: 21px;
  list-style: none;
}

.nav-recipes,
.nav-favorites {
  text-decoration: none;
  color: black;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 25px;
  margin-right: 40px;
}

.nav-recipes:hover,
.nav-favorites:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* --------- home view -------- */

.container-for-home {
  position: relative;
}

.img-home {
  width: 100%;
  height: 1600px;
  object-fit: none;
  object-position: 100% 19%;
  zoom: 40%;
}

.text-box-wrapper {
  position: absolute;
  right: 163px;
  bottom: 111px;
  width: 466px;
  height: 224px;
  background-color: white;
}

.text-sharing {
  color: #e29696;
  font-family: "Abril Fatface", sans-serif;
  font-size: 44px;
  margin: 21px 47px 10px;
  letter-spacing: 1px;
}

.see-recipes-button {
  background-color: #fedede;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  border: none;
  width: 167px;
  height: 40px;
  position: absolute;
  bottom: 30px;
  left: 47px;
}

.see-recipes-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ------- all recipes view ------- */

#all-recipes {
  position: relative;
}

.text-all-recipes {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 36px;
  margin: 33px 67px 0;
}

.no-recipe-message {
  font-family: "Abhaya Libre", sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 60px;
}

#type-of-cuisine {
  position: absolute;
  left: 270px;
  top: 6px;
  width: 150px;
  border-radius: 18px;
  border: 2px solid #cec7c7;
  padding: 4px 15px 3px;
  font-family: "Abhaya Libre", sans-serif;
  color: #878282;
  font-size: 18px;
}

.recipe-wrapper {
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.5);
  margin: 30px;
  list-style: none;
}

.recipe-image-wrapper {
  height: 200px;
}

.recipe-wrapper img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.recipe-text-wrapper {
  height: calc(100px / 3);
  margin: 0 25px;
}

.recipe-name {
  font-family: "Abril Fatface", sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #c5c0c0;
  margin-top: 8px;
  height: 30px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-time {
  border-bottom: 1px solid #c5c0c0;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 11px;
  padding-bottom: 4px;
}

.timer-icon-wrapper {
  position: relative;
}

.fa-clock {
  position: absolute;
  left: 22px;
  top: 19px;
}

.recipe-calories {
  border-bottom: 1px solid #c5c0c0;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 11px;
  padding-bottom: 4px;
}

.recipe-number-of-ingredients {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 6px;
}

.recipe-cousine {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 6px;
}

/* ------------ recipe details view ----------- */

.recipe-details-box-1 {
  border: 1px solid black;
  text-align: center;
  padding: 0 80px;
}

.recipe-details-time,
.recipe-details-calories,
.recipe-details-cuisine {
  font-family: "Abril Fatface", sans-serif;
  font-size: 25px;
  border-bottom: 1px solid black;
  margin: 6px 0;
}

.recipe-details-min,
.recipe-details-cal,
.recipe-details-type {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 20px;
  margin: 6px 0;
}

.recipe-details-title {
  font-family: "Abril Fatface", sans-serif;
  font-size: 60px;
  margin: 10px auto;
}

.recipe-details-img-wrapper {
  position: relative;
}

.image-for-recipe-details {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.fa-regular.fa-star {
  color: #d3d0c9;
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 3em;
}

.fa-solid.fa-star {
  color: #f1c248;
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 3em;
}

.fa-regular.fa-star:hover {
  color: #f1c248;
  cursor: pointer;
}

.fa-solid.fa-star:hover {
  cursor: pointer;
}

.recipe-details-box-2-1 {
  margin-top: 40px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 30px;
}

.recipe-details-box-2-2 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 30px;
  margin-bottom: 40px;
}

.recipe-details-ingredients,
.recipe-details-directions,
.recipe-details-nutritions {
  font-family: "Abril Fatface", sans-serif;
  font-size: 24px;
}

.ingredients-list {
  padding: 0 30px 0 20px;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 18px;
  list-style: none;
}

.see-directions {
  padding-left: 20px;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 20px;
}

.original-url {
  text-decoration: none;
  font-family: "Abhaya Libre", sans-serif;
  color: black;
  background-color: #f0eeee;
  text-align: center;
  margin-left: 5px;
  padding: 2px 20px;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid gray;
}

.original-url:hover {
  opacity: 0.5;
  cursor: pointer;
}

.recipe-details-nutritions {
  border-top: 2px solid black;
  padding: 30px 20px 0;
  margin: 0;
}

.nutrition-margin {
  margin-left: 15px;
}

.nutritions-list {
  list-style: none;
  column-count: 3;
  width: 100%;
  padding: 0 30px 20px;
}

.left,
.right {
  display: inline-block;
}

.nutrition-frame {
  display: flex;
  justify-content: space-between;
}

.nutritions-list li {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 18px;
  padding: 0 35px;
}

/* ------------ form (recipe details view) ----------- */
.fa-message {
  font-size: 1.7em;
}

.conversation {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 35px;
  margin-left: 7px;
}

.number-of-comments {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 20px;
  color: #817979;
  margin-left: 15px;
}

.form-titile {
  margin-bottom: 10px;
}

.input-name {
  width: 95%;
  height: 40px;
  border: 1px solid #474444;
  border-radius: 8px;
  padding-left: 15px;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 17px;
}

.input-comment {
  width: 98%;
  height: calc(40px * 1);
  line-height: 35px;
  border: 1px solid #474444;
  border-radius: 8px;
  padding-left: 15px;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 17px;
}

.input-name:focus,
.input-comment:focus {
  outline: solid 2px #e29696;
}

::placeholder {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 17px;
}

.post-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: "Abril Fatface", sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
  color: white;
  background-color: #e29696;
}

.post-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ----- comments (recipe details view) ----- */

#comment-list {
  list-style: none;
  padding: 0;
  margin: 40px 90px;
}

.comment-wrapper {
  border-bottom: 1px solid #ccc6c6;
}

.name-of-comment {
  font-family: "Abhaya Libre", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0 5px 15px;
}

.text-of-comment {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 20px;
  margin: 0 0 15px 15px;
}

/* ------------ favorites view-------------- */

.text-favorites {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 36px;
  margin: 33px 67px 0;
}

.no-recipes-in-favirites {
  font-family: "Abhaya Libre", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 60px;
}

/* ----- media query -----  */

/* mobile screen */
@media screen and (max-width: 420px) {
  /* --------- mobile header -------- */
  .navber {
    height: 53px;
    margin: 0 20px;
  }

  .navber-listitem {
    float: left;
  }

  ul {
    margin-bottom: 12px;
  }

  .nav-ajax-project {
    font-size: 23px;
    left: 8px;
    top: 11px;
  }

  .navber-list {
    margin-bottom: 14px;
  }

  .nav-recipes,
  .nav-favorites {
    font-size: 15px;
    margin-right: 10px;
  }

  /* ------- mobile home view -------- */
  .img-home {
    height: 2200px;
    object-fit: none;
    object-position: 61%;
    zoom: 17%;
  }

  .text-box-wrapper {
    right: 20px;
    bottom: 20px;
    width: 231px;
    height: 126px;
  }

  .text-sharing {
    font-size: 22px;
    margin: 15px 22px 10px;
    letter-spacing: 0.6px;
  }

  .see-recipes-button {
    font-size: 16px;
    bottom: 19px;
    left: 22px;
    width: 130px;
    height: 26px;
  }

  /* ----- mobile all recipes view ----- */

  .text-all-recipes {
    font-size: 23px;
    margin: 15px 30px 0;
  }

  .no-recipe-message {
    font-size: 15px;
    padding-top: 0;
  }

  #type-of-cuisine {
    left: 148px;
    top: 3px;
    width: 100px;
    border: 1px solid #cec7c7;
    padding: 3px 7px 2px;
    font-size: 12px;
  }

  .recipe-wrapper {
    width: 135px;
    height: 135px;
    box-shadow: 0 4px 15px 2px rgba(0, 0, 0, 0.3);
    margin: 14px;
  }

  .recipe-image-wrapper {
    height: 90px;
  }

  .recipe-wrapper img {
    width: 135px;
    height: 90px;
  }

  .recipe-text-wrapper {
    height: calc(45px / 3);
    margin: 0 12px;
  }

  .recipe-name {
    font-size: 10px;
    margin-top: 3px;
    height: 15px;
    width: 103px;
  }

  .recipe-time {
    font-size: 8px;
    margin-top: 5px;
    padding-bottom: 1px;
  }

  i.fa-clock {
    display: none;
  }

  .recipe-calories {
    font-size: 8px;
    margin-top: 5px;
    padding-bottom: 1px;
  }

  .recipe-number-of-ingredients {
    font-size: 8px;
    margin-top: 2px;
  }

  .recipe-cousine {
    font-size: 8px;
    margin-top: 2px;
  }

  /* ------ mobile recipe details view ----- */
  .container-for-recipe-details {
    margin: 15px 30px;
  }

  .recipe-details-box-1 {
    padding: 0 20px;
  }

  .recipe-details-time,
  .recipe-details-calories,
  .recipe-details-cuisine {
    font-size: 13px;
    margin: 5px 0;
  }

  .recipe-details-min,
  .recipe-details-cal,
  .recipe-details-type {
    font-size: 12px;
    margin: 5px 0;
  }

  .recipe-details-title {
    font-size: 25px;
  }

  .image-for-recipe-details {
    height: 170px;
  }

  .fa-regular.fa-star {
    right: 15px;
    bottom: 15px;
    font-size: 1.6em;
  }

  .fa-solid.fa-star {
    right: 15px;
    bottom: 15px;
    font-size: 1.6em;
  }

  .recipe-details-box-2-1 {
    margin-top: 20px;
    padding: 0 15px;
  }

  .recipe-details-box-2-2 {
    padding: 0 15px;
    margin-bottom: 40px;
  }

  .recipe-details-ingredients,
  .recipe-details-directions,
  .recipe-details-nutritions {
    font-size: 15px;
    margin: 10px 0 5px;
  }

  .column-half.mobile {
    flex-basis: 100%;
  }

  .ingredients-list {
    padding: 0 10px;
    font-size: 10px;
    list-style: none;
  }

  .ingredients-list p {
    margin: 5px;
  }

  .see-directions {
    padding-left: 20px;
    font-size: 14px;
  }

  .original-url {
    margin-left: 5px;
    padding: 2px 15px;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid gray;
  }

  .recipe-details-nutritions {
    border-top: 1px solid black;
    padding: 15px 10px 0;
    margin-top: 15px;
  }

  .nutrition-margin {
    margin-left: 10px;
  }

  .nutritions-list {
    list-style: none;
    column-count: 2;
    width: 100%;
    padding: 0 6px 10px;
    margin-top: 5px;
  }

  .nutritions-list li {
    font-family: "Abhaya Libre", sans-serif;
    font-size: 10px;
    padding: 0 12px;
  }

  /* ----------- mobile form (recipe details view) --------- */

  .container-for-form {
    margin: 30px 40px 0;
  }

  .column-one-ten,
  .column-two-ten,
  .column-seven-ten {
    flex-basis: 100%;
  }

  .fa-message {
    font-size: 1em;
  }

  .conversation {
    font-size: 20px;
    margin-left: 4px;
  }

  .number-of-comments {
    font-size: 13px;
    margin-left: 7px;
  }

  .form-titile {
    margin-bottom: 5px;
  }

  .input-name {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 7px;
    font-size: 13px;
  }

  .input-comment {
    width: 100%;
    height: calc(25px * 3);
    line-height: 18px;
    border-radius: 4px;
    padding: 7px 10px;
    margin-bottom: 3px;
    font-size: 13px;
  }

  ::placeholder {
    font-size: 13px;
  }

  .post-button {
    width: 60px;
    height: 23px;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .post-button-wrapper {
    text-align: right;
  }

  /* ----- mobile comments (recipe details view) ----- */
  .comment-list {
    margin: -15px 40px 40px;
  }

  .name-of-comment {
    font-size: 12px;
    margin: 8px 0 2px 10px;
  }

  .text-of-comment {
    font-size: 12px;
    margin: 0 0 5px 10px;
  }

  /* ------------ mobile favorites view------------ */

  .text-favorites {
    font-size: 23px;
    margin: 15px 30px 0;
  }

  .no-recipes-in-favirites {
    font-size: 15px;
    padding-top: 30px;
  }
}
